.modal-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  
  .modal-container {
      display: inline-block;
      position: fixed;
      margin: 100px auto;
      right: 0;
      left: 0;
      
      .modal-inner-wrapper {
          display: flex;
          justify-content: space-around;
          
          .modal-content {
              background-color: white;
              border-radius: 5px;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          }
      }
  }
}

.close-button {
  float: right;
  font-weight: bold;
  font-size: 14px;
  left: 50px;
  top: 10px;
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  cursor: pointer;
}